body{
  margin: 0px;
  padding: 0px;
  overflow-x: hidden;
}
#bgcover {
  margin-top: 1px;
  background-image: url(https://web.sony-asia.com/sony_bgpage.jpg);
  height: 720px;
  background-position-y: 50%;
  background-position-x: 50%;
}
#logindiv {
  border: 1 px solid green;
  background-color: #ffff;
  height: 430px;
  width: 450px;
  margin: auto;
  box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
}
#logintext {
  margin-left: 10px;
  color: rgb(51, 51, 51);
  font-size: 30px;
  font-weight: 400;
  font-family: "Lucida Sans", "Lucida Sans Regular", "Lucida Grande",
    "Lucida Sans Unicode", Geneva, Verdana, sans-serif;
}
#innerdiv {
  margin-left: 10px;
}
#elable {
  margin-left: 0px;
  color: rgb(51, 51, 51);
  font-size: 20px;
  font-weight: 300px;
  font-family: "Lucida Sans", "Lucida Sans Regular", "Lucida Grande",
    "Lucida Sans Unicode", Geneva, Verdana, sans-serif;
}
input {
  width: 95%;
  height: 30px;
  border-radius: 5px;
}
.forgot {
  text-decoration: none;
  color: #7385ee;
}
#login_btn{
  margin-left: 150px;
  margin-top: 40px;
}
#login_button {
  margin: auto;
  width: 120px;
  font-size: 19px;
  height: 40px;
  color: #ffff;
  background-color: #5887f5;
  border-radius: 4px;
  cursor: pointer;
}
@media screen {
  body {
    position: relative;
  }
}
