body{
  margin: 0px;
  padding: 0px;
  font-family: Helvetica, Arial, sans-serif;
  overflow-x: hidden;
}
#container > h3 {
  background-color: grey;
  height: 90px;
  background-color: #e7ebef;
  padding-top: 50px;
  padding-left: 20px;
  font-size: 24px;
  font-weight: bold;
  color: #2f353d;
  font-style: normal;
  line-height: 29px;
}
.container-content {
  padding: 0px 25px;
  margin-right: auto;
  margin-left: auto;
  height: 180px;
}
#t2 {
  margin-top: 15px;
  font-weight: 400;
  font-style: normal;
  font-size: 18px;
  line-height: 21px;
}
.btn-details {
  margin-top: 15px;
  width: 100%;
  display: flex;
  gap: 20px;
  align-items: center;
}
.row{
  cursor: pointer;
}
@media only screen and (min-width: 375px) and (max-width: 768px) {
  body {
    position: relative;
  }
  .btn-details {
    width: 100%;
    display: grid;
    grid-template-columns: repeat(1, 1fr);
  }
  .row {
    width: 100%;
    text-align: center;
    padding: 8px 0px;
    border: transparent;
    background-color: #5865f5;
    border-radius: 5px;
    cursor: 0;
  }
  input {
    background-color: #e8f0fe;
    border: 0.2px solid grey;
    padding: 4px 0px;
  }
}
@media only screen and (min-width: 0) and (max-width: 391px) {
  body {
    position: relative;
  }
  .btn-details {
    width: 100%;
    display: grid;
    grid-template-columns: repeat(1, 1fr);
  }
  .row {
    width: 100%;
    text-align: center;
    padding: 8px 0px;
    border: transparent;
    background-color: #5865f5;
    border-radius: 5px;
    cursor: 0;
  }
  input {
    background-color: #e8f0fe;
    border: 0.2px solid grey;
    padding: 4px 0px;
  }
  .reg{
    margin-top: 250px;
  }
  #next{
    margin-top: 10px;
  }
}
.row {
  width: 50%;
  text-align: center;
  padding: 8px 0px;
  border: transparent;
  background-color: #5865f5;
  border-radius: 5px;
  cursor: 0;
}
.row .btn {
  position: relative;
  text-decoration: none;
  color: #ffffff;
  font-family: sans-serif;
  line-height: 25px;
  font-weight: 400;
  font-size: 14px;
  font-style: normal;
}
.reg {
  background-color: #e7ebef;
  padding: 20px 10px;
}
.reg-title {
  margin-top: 25px;
  margin-bottom: 30px;
  line-height: 31px;
  font-size: 24px;
  font-weight: 500;
  font-style: normal;
}
#email {
  width: 80%;
  background-color: #e8f0fe;
  border: 0.2px solid grey;
  padding: 4px 5px;
}
#register {
  width: 400px;
  margin: auto;
  height: 120px;
}
#next {
  text-align: end;
  padding-right: 50px;
}
#next a {
  padding: 5px 20px;
  border: transparent;
  text-decoration: none;
  color: #ffffff;
  background-color: #5887f5;
}
#text {
  margin-top: 10px;
}
